#prices {
  border-collapse: collapse;
  border-bottom: 0px;
}

#prices a {
  color: #fff;
}

#prices th {
  border: 1px solid #7DD006;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: #fff;
  color: #000;
  width: 33%;
}

#prices th.first {
  border: 1px solid #7DD006;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: #fff;
  color: #000;
  width: 34%;
}
#prices tfoot td {
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  font-size: 18px;
  padding:10px;
  text-align: center;
}
#prices td {
  border: 1px solid #7DD006;
  padding:10px;
}

 td.optitem {
  color: #000;
  background: #76ae29;
  font-weight: bold;
  text-align: left;
}

.details {
  font-size: 10px;
}

.hovered {
  background: #000;
  color: #fff;
}

#prices td.sexy, #prices td.slick {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #000;
}

#contactForm {
 margin: 0px 10px 10px 10px;
 background: transparent;
 overflow: hidden;
}

#contactForm  fieldset {
	border: 1px solid #7DD006;
	padding-top: 20px; 
	-moz-border-radius: 4px 4px 4px 4px; 
}

#contactForm  fieldset legend {
    text-transform: capitalize; 
	font-weight: bold; 
	padding: 0.5em 1em; 
	border: 1px solid #7DD006;
	-moz-border-radius: 4px 4px 4px 4px; 
	font-size: 1.2em;
}

#contactForm label {
    float: left;
    line-height: 33px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 0;
    text-align: left;
    width: 80px;
	font-size: 14px;
	color: #525253;
}

#contactForm p {
 margin-top: 15px; 
}

#contactForm input.txt {
    width: 300px;
	border: 1px solid #BBBBBB;
    padding: 8px;
	-moz-border-radius: 4px 4px 4px 4px;
}

#contactForm select {
    border: 1px solid #BBBBBB;
    padding: 4px 8px 4px 8px;
    -moz-border-radius: 4px 4px 4px 4px;
}

#contactForm textarea {
    padding: 4px;
	width: 308px;
	height: 150px;
	border: 1px solid #BBBBBB;
	-moz-border-radius: 4px 4px 4px 4px;
}

input.txt {
    width: 247px;
	border: 1px solid #BBBBBB;
    padding: 4px;
	-moz-border-radius: 4px 4px 4px 4px;
}

span.error, span.req {
    color: red;
}
/* color styles 
---------------------------------------------- */
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}

/* blue */
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}


/* orange */
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* green */
.green, button.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover, button.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active, button.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}