
form {	
	margin: 0;
	padding: 0;
}


form fieldset {
	border: 1px solid #BBBBBB;
	padding-top: 20px; 
	-moz-border-radius: 4px 4px 4px 4px; 
}

form legend {
    text-transform: capitalize; 
	font-weight: bold; 
	padding: 0.5em 1em; 
	border: 1px solid #7DD006;
	-moz-border-radius: 4px 4px 4px 4px; 
	font-size: 1.2em;
}

div.fieldset {
	margin-top: 10px;
	padding: 0px;
}

div.fieldset span.legend {
    text-transform: capitalize; 
	font-weight: bold; 
	padding: 0.5em 1em; 
	border: 1px solid #7DD006;
	-moz-border-radius: 4px 4px 4px 4px; 
	font-size: 1.2em;
}

div.flash {
	width: 405px;
	height:20px;
	margin-bottom: 5px;
	padding: 0px; 
	border: 1px solid green;
	overflow: hidden;
   -moz-border-radius: 4px 4px 4px 4px;
}

span.req {
    color: red;
}

button,
input,
select,
textarea { 
	border-width: 1px; 
	margin-bottom: 10px;
	padding: 2px 3px;
}



input[disabled]{ border: 1px solid #ccc } /* FF 2 Fix */


label { 
	width: 150px; 
	text-align: right; 
	display:block;
	margin-right: 5px;
}

#form1 label {
    float: left;
    line-height: 33px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 0;
    text-align: left;
    width: 140px;
	font-size: 14px;
	color: #525253;
}

#form1 fieldset {
   border: 1px solid #7DD006;
}

#form1 select {
    border: 1px solid #BBBBBB;
    padding: 4px 8px 4px 8px;
    -moz-border-radius: 4px 4px 4px 4px;
}

#btnSubmit { margin: 0 0 0 155px ; }

/* -- Table Styles ------------------------------- */
td {
	/* font: 10pt Helvetica, Arial, sans-serif; */
	vertical-align: top;
}

.progressWrapper {
	width: 357px;
	overflow: hidden;
}

.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 18px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}


/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
	vertical-align: top;
}
